%p#notice= notice

%p
  = image_tag @expression.image

%p
  %b Name:
  = @expression.name
%p
  %b Definition:
  = simple_format @expression.definition
%p
  %b Examples:
  = simple_format @expression.examples
%p
  %b Synonyms:
  = simple_format @expression.synonyms
%p
  %b Notes:
  = @expression.notes


-if @extended

  %hr

  .actions_expression
    %h3
      What do you want to do now?
    .choices
      =link_to 'Create another expression', new_expression_path
      =link_to 'Learn this expression', learn_index_path(:id => @expression.id)
      =link_to 'Edit this expression', edit_expression_path(@expression)
      =link_to 'Delete this expression', expression_path(@expression), :method => :delete, :confirm => "Are you sure ?"
      =link_to 'View all expression', expressions_path

