%p
  = image_tag @expression.image

%p
  %b Definition:
  = simple_format filter(@expression.definition, @expression.name, @correct.nil?)
%p
  %b Examples:
  = simple_format filter(@expression.examples, @expression.name, @correct.nil?)
%p
  %b Synonyms:
  = simple_format filter(@expression.synonyms, @expression.name, @correct.nil?)
%p
  %b Notes:
  = filter(@expression.notes, @expression.name, @correct.nil?)



.guess
  - if @correct.nil?
    Your guess:
    =form_tag({:action => :guess}, {:remote => true}) do
      =text_field_tag 'guess'
      =hidden_field_tag 'id', @expression.id
      = submit_tag 'Check !'
  -elsif @correct == true
    .correct
      Your guess was CORRECT !
    Expression is:
    %b
      =@expression.name
  -elsif @correct == false
    .incorrect
      Your guess was INCORRECT !
    Expression is:
    %b
      =@expression.name

  -if @correct_count && @incorrect_count
    .correctness
      Your correctness is
      =(@correct_count.to_f/(@correct_count+@incorrect_count)*100).round(2)
      \%





