<!DOCTYPE html>
<html>
  <head>
    <title>Learning English</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render :partial => 'shared/bottom_bar' %>

    <p class="alert"><%= alert %></p>

    <%= yield %>

    <div style="height: 50px;"></div>



  </body>
</html>
